body {
  background-color: rgb(51, 51, 51);
  color: white;
  min-height: 98vh;
}

* {
  color: white;
}

hr {
  border: solid black 1px;
  width: 90%;
}

.cont {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

/* ---------- NAVBAR --------- */

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

nav .logo {
  width: 30%;
  /* background-color: blue; */
  font-size: 30px;
  text-align: left;
}

nav .logo span {
  background-color: black;
}

nav .logo h1 {
  margin-left: 85px;
}

nav .directory-nav {
  width: 40%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
}

nav .profile-nav {
  width: 30%;
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
}

.profile-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#profile-pict {
  width: 150px;
  border-radius: 50%;
}

/* ---------- CONTENT MEME --------- */

main {
  display: flex;
  flex-direction: row;
  min-height: 89vh;
}

.memes .sidebar {
  /* background-color: aqua; */
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sidebar hr {
  border: solid white 1px;
}

.sidebar h1 {
  font-size: 30px;
}

.categories button {
  width: 90%;
  margin-bottom: 20px;
  background-color: black;
  opacity: 60%;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

.addNewMeme img {
  width: 50px;
  margin-left: 10px;
}

.addNewMeme {
  font-size: 25px;
}

.memes .content-meme {
  width: 85%;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  /* align-self: flex-start; */
}

.meme-card {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.meme-card button img {
  width: 50px;
}

.meme-card button {
  background-color: white;
  border: none;
  border-radius: 5px;
}

.meme-card button:hover {
  background-color: rgb(255, 0, 0);
}

.meme-card h3,
button {
  color: black;
}

/* ---------- CONTENT JOKES --------- */
.jokes {
  display: flex;
  flex-direction: column;
}

.jokes-card {
  background-color: red;
  width: 70%;
  height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.addForm {
  display: flex;
  flex-direction: column;
}

.addFormCard form {
  height: 100%;
}

.addFormCard {
  margin-top: 40px;
  background-color: white;
  color: black;
  width: 70vh;
  height: 70vh;
  border-radius: 5px;
  font-size: 30px;
}

.formInput {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.formInput .input input,
select,
option {
  font-size: 20px;
  width: 90%;
  height: 50px;
  color: black;
  text-align: center;
}

.formInput .input option {
  padding: 100px 0;
  font-size: 20px;
}

.addForm form label,
input {
  color: black;
}
